html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
:root {
  --step-0: clamp(0.875rem, 0.7023rem + 0.8636vw, 1.5rem);
  --step-6: clamp(3.3379rem, 3.0225rem + 1.5767vw, 4.479rem);
  --step-7: clamp(4.1723rem, 3.84rem + 1.6614vw, 5.3748rem);
  --fluid-22-35: clamp(1.375rem, 1.1505rem + 1.1226vw, 2.1875rem);
  --fluid-70-80: clamp(4.375rem, 4.2023rem + 0.8636vw, 5rem);
  --fluid-59-75: clamp(3.6875rem, 3.4112rem + 1.3817vw, 4.6875rem);
  --fluid-20-30: clamp(1.25rem, 1.0773rem + 0.8636vw, 1.875rem);
  --logo-width: clamp(8.5rem, 7.3428rem + 5.7858vw, 12.6875rem);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282b28;
  background: #f5f0ee;
}
h1,
h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: clamp(2.75rem, 1.5237rem + 6.1313vw, 7.1875rem);
  line-height: clamp(44px, 25.7617px + 5.6995vw, 110px);
  margin-bottom: clamp(0.75rem, 0.6118rem + 0.6908vw, 1.25rem);
}
h2 {
  font-size: clamp(2.1875rem, 1.7557rem + 2.1589vw, 3.75rem);
  line-height: clamp(2.1875rem, 1.7557rem + 2.1589vw, 3.75rem);
  margin-bottom: clamp(0.75rem, 0.6118rem + 0.6908vw, 1.25rem);
}
p {
  font-size: clamp(1rem, 0.8618rem + 0.6908vw, 1.5rem);
  line-height: var(--fluid-22-35);
  margin-bottom: var(--fluid-20-30);
}
a {
  transition: all 0.4s ease;
  text-decoration: none;
}
/* main layout styles */
nav,
main,
footer {
  max-width: 1478px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* nav styles */
nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: clamp(1.1875rem, 0.6521rem + 2.677vw, 3.125rem);
  margin-bottom: clamp(1.875rem, 1.1842rem + 3.4542vw, 4.375rem);
}
.logo-link {
  width: var(--logo-width);
}
.button {
  font-size: clamp(0.75rem, 0.6809rem + 0.3454vw, 1rem);

  background: #a24936;
  color: #f5f0ee;
  border-radius: 33px;
  box-shadow: 3px 3px 6px 0px rgb(77 77 77 / 40%);
  display: inline-block;
  padding: clamp(0.5rem, 0.2927rem + 1.0363vw, 1.25rem)
    clamp(0.9375rem, 0.3848rem + 2.7634vw, 2.9375rem);
}
.button.about-btn {
  background: #fff;
  color: #282b28;
}
/********************************** 
            hero styles
***********************************/
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: clamp(0.625rem, -0.7049rem + 6.6494vw, 5.4375rem);
}

.hero-image {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5vw;
}
.hero-image img {
  width: 60%;
}
.hero-text {
  flex-basis: 100%;
  margin-inline: auto;
  max-width: 500px;
}
@media screen and (min-width: 834px) {
  .hero {
    flex-direction: row;
    text-align: initial;
    gap: 2rem;
  }
  .hero-image {
    flex-basis: 50%;
    margin-bottom: 0px;
  }
  .hero-image img {
    width: initial;
  }
  .hero-text {
    flex-basis: 50%;
    max-width: initial;
    margin-inline: clamp(0rem, -0.829rem + 4.1451vw, 3rem);
  }
}
/********************************** 
    About and Contact styles
***********************************/
.about,
.contact {
  background: #fff;
  padding: clamp(1.25rem, 0.5592rem + 3.4542vw, 3.75rem)
    clamp(0.9375rem, -1.3941rem + 11.658vw, 9.375rem);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(0.625rem, -0.7049rem + 6.6494vw, 5.4375rem);
  align-items: center;
}
.about-img img {
  border-radius: 33px;
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 36%;
}
.about-text {
  order: 2;
}
.about-img {
  width: 100%;
  order: 1;
  margin-bottom: clamp(1.25rem, 1.0773rem + 0.8636vw, 1.875rem);
}
.contact-img {
  margin-bottom: clamp(1.25rem, 1.0773rem + 0.8636vw, 1.875rem);
  width: 60%;
}
.contact-text {
  text-align: center;
}
@media screen and (min-width: 834px) {
  .about,
  .contact {
    flex-direction: row;
    gap: 3rem;
  }
  .about-img {
    flex-basis: 35%;
    order: 2;
    margin-bottom: initial;
  }
  .about-img img {
    height: initial;
  }
  .about-text {
    flex-basis: 65%;
    order: 1;
  }
  .contact-img {
    flex-basis: 50%;
    margin-bottom: initial;
    width: initial;
  }
  .contact-text {
    flex-basis: 50%;
    text-align: left;
  }
}
